.pagination {
  box-sizing: border-box;
  padding: $padding-micro;
  background: $white;
  border: 1px solid #d4d9e7;
  border-radius: $app-br;
  outline: none;
  cursor: pointer;
  transition: $transition-1;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &:hover {
    border-color: $primary;

    .pagination__arrow {
      path {
        fill: $primary;
      }
    }
  }

  &:focus {
    border-color: darken($primary, 20%);

    .pagination__arrow {
      path {
        fill: darken($primary, 20%);
      }
    }
  }

  &_disabled {
    border: 1px solid #f6f7fa !important;
    cursor: not-allowed;

    .pagination__arrow {
      path {
        opacity: 0.5;
        fill: #a7b4cc !important;
      }
    }
  }

  &__arrow {
    path {
      opacity: 1;
      transition: $transition-1;
    }

    &_type {
      &_next {
        transform: rotate(180deg);
      }
    }
  }
}
