.card {
  box-sizing: border-box;
  padding: $card-padding;
  background: $card-bg;
  border-radius: $app-br;

  &_width {
    &_full {
      grid-column: span 2;
    }

    &_half {
      grid-column: span 1;
    }
  }

  &_border {
    border: 1px solid #e0e0e0;
  }
}
