.desktop-wrapper {
  @include size-desktop {
    max-width: $desktop-size-md;
    margin: 0 auto;
    margin-top: 72px;
    margin-bottom: 128px;
    padding: 0 $padding-default;

    &_no-margin {
      margin-bottom: 0;
    }
  }
}
