/*================= Spin Animation ===================*/
@keyframes Spin {
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes Spin {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #0b163c;
  }
}

@keyframes floatup {
  20% {
    opacity: 0.999;
  }
  100% {
    transform: translate3d(-50%, -17px, 0);
  }
}
