.start-mining {
  position: relative;
  padding: 20px;
  overflow: hidden;
  background-color: $start-mining-bg;
  border-radius: $app-br;
  box-shadow: 0px 3px 24px rgba(12, 23, 61, 0.12);

  @include size-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 42px 72px;
  }

  &__icon {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    opacity: 0.1;

    @include size-desktop {
      top: 24px;
      left: -60px;
    }
  }

  &__nodes {
    position: relative;
    z-index: 2;
    margin-bottom: $padding-micro;
    color: $grey-dark;

    @include size-desktop {
      font-size: 28px;
    }
  }

  &__text {
    position: relative;
    z-index: 2;
    margin-bottom: $padding-default;
    font-weight: bold;
    font-size: $font-size-md;

    @include size-desktop {
      margin-bottom: 0;
      font-size: $h2-font-size;
    }
  }

  &__button {
    position: relative;
    z-index: 2;

    @include size-desktop {
      padding: $padding-default $padding-big;
      font-size: $font-size-lg;
    }
  }
}
